GROQ_API_KEY = groq_api_key_value

#LangSmith Integration
LANGSMITH_TRACING=true
LANGSMITH_API_KEY= lsv2_value
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

#AZURE SQL Server connection 
#AZURE_DB="mssql+pymssql://uri"
